input.ng-valid[required], textarea.ng-valid[required] {
    border-left: 5px solid #4CAE4C;
}

input.ng-invalid, textarea.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}

.ng-pristine.ng-untouched {
    font-style: italic;
    color: #bdbdbd;
}

.ng-pristine.ng-untouched:focus {
    font-style: normal;
    color: inherit;
}
