<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">
                <i class="glyphicon glyphicon-home"></i>
                Hjem
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse menu-text" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/Andalucia" routerLinkActive="active">Málaga & Andalucía</a></li>
                <li><a routerLink="/Travels" routerLinkActive="active">Reiser</a></li>
                <li><a routerLink="/Articles" routerLinkActive="active">Artikler</a></li>
                <li><a routerLink="/About" routerLinkActive="active">Om oss</a></li>
                <li><a routerLink="/Partners" routerLinkActive="active">Partnere</a></li>
                <li><a routerLink="/Contact" routerLinkActive="active">Kontakt oss</a></li>
                <!--<li *ngIf="!auth.authenticated()">-->
                    <!--<a (click)="auth.login()">Logg inn</a>-->
                <!--</li>-->
                <!--<li *ngIf="auth.authenticated()">-->
                    <!--<a routerLink="/Members" routerLinkActive="active">Min side</a>-->
                <!--</li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>